// Import Bootstrap and its default variables
@import '~terminal.css';

:root {
  --page-width:100em;
  --background-color: #222225;
  --table-highlight-color: #844445;
  --font-color: #e8e9ed;
  --invert-font-color: #222225;
  --secondary-color: #a3abba;
  --tertiary-color: #a3abba;
  --primary-color: #62c4ff;
  --error-color: #ff3c74;
  --progress-bar-background: #3f3f44;
  --progress-bar-fill: #62c4ff;
  --code-bg-color: #3f3f44;
  --input-style: solid;
  --display-h1-decoration: none;
  --global-space:10px;
}


input[type=range] {
  width: 95%;
  padding: 0.7em 0.5em;
  font-size: 1em;
  font-family: var(--font-stack);
}

/* https://stackoverflow.com/a/38163892 */

/* chrome */
input[type='range']::-webkit-slider-runnable-track {
  color: var(--progress-bar-fill);
}

/* Firefox */
input[type="range"]::-moz-range-progress {
  background-color: var(--progress-bar-fill); 
}
input[type="range"]::-moz-range-track {  
  background-color: var(--progress-bar-background);
}

/* interwebs exploder */
input[type="range"]::-ms-fill-lower {
  background-color: var(--progress-bar-fill); 
}
input[type="range"]::-ms-fill-upper {  
  background-color: var(--progress-bar-background);
}

.container {
  align-items: stretch;
  flex-shrink: 0;
}

table {
  margin: 0 0 10px 0;
}

.flex {
  display: flex; /* or inline-flex */
  justify-content: space-around;
}

.stage {
  align-items: stretch;
}

.highlighted {
   background-color: var(--table-highlight-color)
}

.messageBox {
  white-space: pre-wrap;
}

.btn-disabled {
  border-color: var(--table-highlight-color)
}